.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #61dafb;
  background-repeat: no-repeat;
  height: 15em;
  width: auto;
}
div{
  background-color: rgba(247, 142, 130, 0.884)

}


 /* unvisited link */
 a:link {
  color: rgb(187, 255, 0);

  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

/* visited link */
a:link, a:visited {
  background-color: #d6fa81;
  color: rgb(5, 129, 98);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
border:1em outset purple;
  border-radius: 12px;


  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

/* mouse over link */
a:hover {
  color: goldenrod;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  background-color: #4CAF50; /* Green */
  color: white;

}

/* selected link */
a:active {
  color: blue;

  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 