
   body{
    background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }
   
    /* unvisited link */
    a:link {
     color: rgb(25, 0, 255);
   
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
   
   }
   
   /* visited link */
   a:link, a:visited {
     background-color: #00ffff;
     color: #ff99cc;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
   border:1em solid  #ffff66;
     border-radius: 12px;
   
   
     -webkit-transition-duration: 0.4s; /* Safari */
     transition-duration: 0.4s;
   
   }
   
   /* mouse over link */
   a:hover {
     color: goldenrod;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
   
     background-color: #4CAF50; /* Green */
     color: white;
   
   }
   
   /* selected link */
   a:active {
     color: blue;
   
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
   } 
   
   
   #banner {
     background-image: linear-gradient(120deg, rgb(231, 255, 145) 0%, rgb(96, 178, 199) 87%);
     position: relative;
     width: 100%;
     height: 950px;
   }
   
   #cloud-scroll {
     background: url("http://9a2e1a2047765d2a004e-e6d2db425d8d4f2619e5cee56a48bcef.r55.cf2.rackcdn.com/clouds.png")  repeat-x;
    opacity: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 50%;
     background-size: cover;
     position: absolute;
     -webkit-animation: 900000s backgroundScroll infinite linear;
     -moz-animation: 900000s backgroundScroll infinite linear;
     -o-animation: 900000s backgroundScroll infinite linear;
     -ms-animation: 900000s backgroundScroll infinite linear;
     animation: 900000s backgroundScroll infinite linear;
   }
   
   @-webkit-keyframes backgroundScroll {
     from {
       background-position: 0 0;
     }
     to {
       background-position: -99999999px 0;
     }
   }
   
   @keyframes backgroundScroll {
     from {
       background-position: 0 0;
     }
     to {
       background-position: -99999999px 0;
     }
   }
   
   #p1{ 
     font-size: 2em;
     width: 100%;
       height: auto;
      
        opacity: .50;
       filter: alpha(opacity=75); 
   }
   
   #pic{
     background-color: #d6fa81
   }
   
   
   #pone{
     align-content: center;
     font-family: cursive;
     font-size: 3em;
     font-weight: 900;
     background-color: #FF99C9;
     color: #41EAD4;
     border: 1rem outset;
     width: 50%;
     float: right;
   }
   
   
   #ptwo{
     align-content: center;
     font-family: cursive;
     font-size:2em;
     font-weight: 900;
     background-color: #66ff00;
     color:#a80077 ;
     float: right;
     width: 50%;
     border: 1rem outset;
    
   }
   
   .inputid{
     border: 1rem inset rgb(0, 217, 255);
     color:purple;
     margin-left:10em;
     width: 10em;
   }
   
   .inputid2{
     border: 1rem inset rgb(0, 217, 255);
     color:purple;
    margin-top: 2em;
    margin-left:10em;
   float: right;
     width:10em;
   }
   
   .logintext{
   
     float: right;
   }
   
     
     
     .responsive {
       max-width: 100%;
       height: auto;
       display: block;
       margin-left: auto;
       margin-right: auto;
   
    }
   
   
   
   #paraone{
     font-size: 10em;
   }
   
   
   
   
   
   
   #form1{
     flex: 100%;
     
     
       margin-left: 0%;
       max-width:100%;
     height: 45em;
     margin-right: 0em;
     
        
       
   
      
      background-image: url(../photos/waggingdogtail.bmp);
       color: rgb(230, 44, 183); 
   
   
   }
   
   .all{
     background-image: url(../photos/waggingdogtail.bmp);
     Height:23em;
   }
   
   
   
   
   
   
   #form2{
    flex: 100%;
     
     
    margin-right:100% ;
    max-width:100%;
  height: 45em;

  
     
    

    width: 400em;
   background-image: url(../photos/waggingdogtail.bmp);
    color: rgb(230, 44, 183); 


      
       
   
   }
   
   
   
   .hero-image {
     background-image: url( "../photos/rainbowplay.png");
   
     
     height: 10em;
     width: auto;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 25em;
     position: relative;
     border: 2em outset #ffff00;
   }
   
   .hero-text {
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: rgb(186, 197, 37);
     font-weight: bolder;
   font-size: 3em;
   }
   
   