body{
    background: #DCE35B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgb(91, 243, 96), #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border: 2em outset rgb(3, 245, 233);
    background-repeat: repeat;
    height: 80em;
}

.searchInput, .inputSubmit{
    background-color: aquamarine;
    border: 1rem inset rgba(128, 255, 0, 0.767);
}

.resetButton, .submitbutton{
    background-color: aqua;
    border: 5px solid rgba(255, 255, 0, 0.787);
    height: 2em;
}