body{
    background: rgb(253, 126, 8);  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #45B649, rgb(253, 126, 8));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, rgb(4, 245, 253),  #45B649); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   border: 1em solid purple;;
    background-repeat: repeat;
    height: 80em;
    width: 100%;
    
}

.searchInput, .inputSubmit{
    background-color: aquamarine;
    border: 1rem inset rgba(128, 255, 0, 0.767);
}

.resetButton, .submitbutton{
    background-color: aqua;
    border: 5px solid rgba(255, 255, 0, 0.787);
    height: 2em;
}